* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    background-color: lightslategray;
}
nav{
    padding: 25px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.card {
    height: auto;
    width: 300px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
}

.card > img {
    justify-self: flex-start;
    width: 100%;
    /* max-height: 300px; */
    padding: 20px 20px 0px 20px;
}

.card > h1, .card > p {
    margin: 0;
    padding: 5px 20px;
}

h1 {
    font-size: 24px;
}

footer {
    padding: 25px;
    width: 100%;
    background-color: lightslategray;
}