* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%
}
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.card {
    height: 300px;
    width: 300px;
}

.card > img {
    width: 100%
}